// -------------------------------------------------------------------
// --------------------------- custom fonts ---------------------------
// -------------------------------------------------------------------

@font-face {
  font-family: Montserrat;
  src: url(./../assets/fonts/Montserrat/Montserrat-Bold.ttf);
  font-weight: bolder;
}

@font-face {
  font-family: Montserrat;
  src: url(./../assets/fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(./../assets/fonts/Montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

// ------------------------------------------------------------------
// ----------------------------- mixins -----------------------------
// ------------------------------------------------------------------

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

// ------------------------------------------------------------------
// --------------------------- variables ----------------------------
// ------------------------------------------------------------------

$tile-dark-color: #ad6d4a;
$tile-light-color: #e8be97;
$tile-active-color: #5ecf3c;
$tile-hover-color: #fcec62;
$piece-dark-color: #501c0b;
$piece-light-color: #fff5e7;

// ------------------------------------------------------------------
// ----------------------------- global -----------------------------
// ------------------------------------------------------------------

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Montserrat, 'Avenir', 'Helvetica', sans-serif;
}

.ultra {
  width: 100vw;
  height: 100vh;
}

img {
  -khtml-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

// ------------------------------------------------------------------
// --------------------------- chess page ---------------------------
// ------------------------------------------------------------------

.chess-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-text {
  position: absolute;
  font-weight: bolder;
  font-size: 30px;
  width: 100%;
  text-align: center;
  top: -50px;

  .highlight {
    color: $tile-active-color;
  }
}

.board {
  width: 100vw;
  height: 100vw;
  max-width: 80vh;
  max-height: 80vh;
  position: relative;
}

.board-row {
  width: 100%;
  height: calc(100% / 8);
  display: flex;
}

.tile {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  &.tile-dark {
    background-color: $tile-dark-color;
  }

  &.tile-light {
    background-color: $tile-light-color;
  }
}

.active {
  position: absolute;
  background-color: $tile-active-color;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.hovered {
  position: absolute;
  background-color: $tile-hover-color;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.chess-piece {
  width: 70%;
  height: 70%;
  z-index: 100;
}

.mask {
  position: absolute;
  z-index: 200;
  height: 100%;
  width: 100%;
}

.promotion-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 55%;
  height: 55%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}

.modal-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 50%;
  background-color: #4070da;

  &:hover {
    cursor: pointer;
    background-color: $tile-active-color;
  }
}

.modal-pieces {
  width: 50%;
  height: 50%;
}

// ------------------------------------------------------------------
// ------------------------ media queries ---------------------------
// ------------------------------------------------------------------

@media screen and (max-width: 60vh) {
  html,
  body {
    position: fixed;
  }

  .ultra {
    height: 90vh;
  }
}
